@font-face {
    font-family: 'Playwrite CU';
    src: url('./fonts/PlaywriteCU-Regular.woff2') format('woff2'),
        url('./fonts/PlaywriteCU-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: Playwrite CU;
    text-shadow: #FC0 1px 0 10px;
    background-color: rgb(180, 180, 180);
}
.header{
    display: flex; 
    justify-content: center;
}
.game{
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: end;
}
.controls{
    width: 90%; 
    height:70%;  
    font-size: clamp(8px, 0.75em, 16px);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.controls>input, .controls>button{
    width: 70%; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.score{
    width: 90%;
    height:70%; 
    overflow: hidden;
    font-size: clamp(8px, 1em, 24px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background-image: url("./assets/o.svg");*/
}
.board{
    padding-top: clamp(50px, 20vh,  150px);
    width: 40vw;
    height: 40vw;
    display: grid; 
}
.board div{ 
    border-style:groove; 
    border-color: rgb(150, 148, 148);
}