@font-face {
    font-family: 'Playwrite CU';
    src: url('./fonts/PlaywriteCU-Regular.woff2') format('woff2'),
        url('./fonts/PlaywriteCU-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: Playwrite CU;
    font-size: x-large;
    text-shadow: #FC0 1px 0 10px;
    background-color: rgb(180, 180, 180);
}
.header{
    display: flex; 
    justify-content: center;
}
.game{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.board{
    padding-top: clamp(50px, 20vh,  150px);
    width: 40vw;
    height: 40vw;
    display: grid;
}
.board div{ 
    border-style:groove; 
    border-color: rgb(150, 148, 148);
}